<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="header_base">
        <header class="header">
            <div class="container">
                <div class="header_inner">

                    <div class="header_box">
                        <div class="header_acc_photo">
                            <img src="{% static 'images/profile_pic.png' %}" alt="user_img">    
                        </div>
                        <p>user_name</p>
                    </div>
                    
                    <nav class="nav">
                        <a class="nav_link" href="{% url 'index' %}">О нас</a>
                        <a class="nav_link" href="{% url 'AuthReg:account' %}">Личный кабинет</a>
                        <a class="nav_link" href="{% url 'StoreHouse:inventory' %}">Инвентарь</a>
                        <a class="nav_link" href="{% url 'StoreHouse:action_log' %}">Журнал действий</a>
                        <a class="nav_link" href="{% url 'support' %}">Связь с поддержкой</a>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <!-- Основное содержимое страницы -->
    <div class="main-content">
        <section class="error-message">
            <h1>Ссылка на приглашение недействительна</h1>
        </section>
    </div>

    <!-- Нижняя часть страницы (футер) -->
    <div class="contacts_line">
        <div class="contacts_block">
            <p>craftcode@sfedu.ru</p>
            <p>+7-(9**)-***-**-**</p>
        </div>
    </div>
</body>
</html>
