{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <title>Успешно!</title>
</head>
<body>
    <div class="header_base">
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <div class="header_logo">{Craft~Code}</div>
                    
                    <nav class="nav">
                        <a class="nav_link" href="{% url 'index' %}">О нас</a>
                        <a class="nav_link" href="{% url 'AuthReg:account' %}">Личный кабинет</a>
                        <a class="nav_link" href="{% url 'StoreHouse:inventar' %}">Инвентарь</a>
                        <a class="nav_link" href="{% url 'support' %}">Связь с поддержкой</a>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    
    <div class="line">
        <div class="container">
            <p>Регистрация</p>
        </div>
    </div>

    <div class="container">
        <div class="text_reg">
            <h1>Регистрация прошла успешно!</h1>
            <p>Сотрудник зарегистрирован в нашей системе.</p>
            <br><br>
            <div class="img_reg">
                <img src="{% static 'images/e3a78ca04f002623dec2.png' %}" alt="checkmark"><br>
            </div>
            <a href="{% url 'account' %}">
                <button id="ToAccount">Вернуться к учетной записи</button>
            </a>
            <br><br><br>
        </div>
    </div>

    <div class="contacts_line">
        <div class="contacts_block">
            <p>craftcode@sfedu.ru</p>
            <p>+7-(9**)-***-**-**</p>
        </div>
    </div>

    <script src="{% static 'js/script2.js' %}"></script>
</body>
</html>
